{% extends "layout.njk" %}

{% block head %}
    <title>{{dataCourses.title}}</title>
    <link rel="stylesheet" href="/courses.css">
{% endblock %}
    
    

{% block content %}

<div class="content">
    <iframe src="http://rocketseat.com.br/{{page.id}}" frameborder="0"></iframe>
</div>
    

   
    
    <script src="scripts.js"></script>
{% endblock %}