{% extends "layout.njk" %}

{% block head %}
    <title>404 not found</title>
    <link rel="stylesheet" href="/layout.css">
    <link rel="stylesheet" href="/notFound.css">
{% endblock %}

{% block content %}

<div id="notFound">
    <p>ERROR 404</p>
    <br>
    <p>Page Not Found</p>
</div>
    

{% endblock %}