@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --color-rocket: #7159c1;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(65,105,225,0.9);
}

header {
    background-color:  rgba(28,28,28,0.9);
    padding: 32px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.links {
    font-size: 22px;
}

.links a {
    text-decoration: none;
    color: white;
    position: relative;
}

.links a + a {
    margin-left: 32px;
}

.links a.active {
    font-weight: bold;
    color: rgba(65,105,225,0.9);
}

.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: rgba(65,105,225,0.9);
    position: absolute;
    left: 0;
    bottom: -3px;
}

.links a:hover::after {
    width: 100%;
    transition: width 400ms cubic-bezier(0.74,-0.15, 0.63, 1.05);
}

