


body {
    font-family: 'Roboto', sans-serif;
    background-color: #E0FFFF;
    margin: 0;


}

header {
    text-align: center;
}

header div  {
    background: rgba(0,0,139, 0.75);
    border-bottom: 3px solid #800000;
    padding: 30px;
    
}

header div a {
    padding: 0 30px;
    color: white;
    text-decoration: none;
    
    
}

header div a:hover{
    color: tomato;
    
}

