{% extends "layout.njk" %}

{% block content %}
    <div class="card">
        <section class="img"></section>
        <section class="details">
            <h3>Detalhes</h3>

            <div class="item">
                <div>Avatar URL</div>
                <div>http://</div>
            </div>

            <div class="item">
                <div>Nome Completo</div>
                <div>Thalys Matias Carrara</div>
            </div>

            <div class="item">
                <div>Idade</div>
                <div>22 anos</div>
            </div>

            <div class="item">
                <div>Grau de Escolaridade</div>
                <div>Ensino superior incompleto</div>
            </div>

            <div class="item">
                <div>Tipo de Aula</div>
                <div>A Distância</div>
            </div>

            <div class="item">
                <div>Acompanhamento</div>
                <div>
                    <span>Matemática</span>
                    <span>Física</span>
                </div>
                
            </div>

            <div class="item">
                <div>Desde</div>
                <div>19/07/2020</div>
            </div>
        </section>
    </div>
{% endblock content %}