@import "https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap";

:root {
    --color-text: white;
    --backgroud-color: #282a36;
    --border-color: tomato;
}

* {
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--backgroud-color);
    color: var(--color-text);
}

header {
    text-align: center;
}

header div  {
    background: var(--backgroud-color);
    border-bottom: 3px solid var(--border-color);
    padding: 30px;
    
}

header div a {
    padding: 0 50px;
    color: white;
    text-decoration: none;
    font-size: 30px;
    
    
}

header div a:hover{
    color: var(--border-color);
    
}

.content {
    position: absolute;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 100%;
}

img {
    margin-top: 30px;
    border-radius: 50%;
    border: 3px solid var(--border-color);
    max-width:350px;
    max-height:250px;
    width: auto;
    height: auto;
}

.content h1 {
    text-decoration: underline var(--border-color);
    font-style: italic;
    font-size: 50px;
    margin-bottom: 40px;
    margin-top: 0;
}

.content p {
    font-size: 28px;
    max-width: 900px;
    text-align: center;
    margin: 0 auto 25px;
}

.content ul {
    padding: 0;
    margin: 10vh auto;
    max-width: 400px;
    text-align: center;
}

.content ul li {
    text-align: center;
    max-width: 200px;
    margin: 0 auto;
    font-size: 30px;
}

.links {
    position: relative;
    width: 100%;
    height: 100%;
    top: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 200px;
    max-width: 900px;
    margin: 0 auto;   
}

.links a {
    font-size: 40px;
    color: var(--border-color);
    text-decoration: none;
}

.links a:hover{
    
    color: greenyellow;

}



